<template name="landing">
    <div class="landing">
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- <div class="container"> -->
    <div class="header">
        <div class="hero clearfix">
            <div class="container">
                <ul class="nav nav-pills pull-right">
                </ul>
                <a href="/"><img src="/img/venn/header-venn-logo-white.png" class="logo"></a>
            </div>

            <div class="col-lg-12">
                <div class="container">
                    <div class="venn_logo
                                col-xs-12 col-lg-2 col-lg-offset-1 text-center">
                        <img src="/img/venn/hero-venn-logo.png" class="peeriologo">
                    </div>
                    
                    <div class="venn_call_to_action
                                col-xs-12 col-lg-8 col-lg-offset-1">
                        <h2 class="text-shadow text-white">We move digital interactions into the physical world</h2>
                        <p class="lead text-white text-shadow">Truly provide an end-to-end user experience</p>
                        <div class="form-group">
                            <div class="col-xs-4 pl-0">
                                <input type="email" class="form-control input-lg" id="InputEmail" placeholder="Email">
                            </div>
                            <div class="col-xs-4 pl-0">
                                 <input type="company" class="form-control input-lg" id="CompanyName" placeholder="Company Name">
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-lg btn-submit early-access-submit">Get Early Access</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="company-logos">
                    <div class="corp-logo brandery"></div>
                    <div class="corp-logo tech-crunch"></div>
                    <div class="corp-logo business-courior"></div>
                    <div class="corp-logo modulus"></div>
                    <div class="corp-logo nodejs"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="summaries">
        <div class="container">
            <div class="feature first col-lg-4">
                <h3 class="feature-title hassle">Removing hassle, <br><b>focused on meeting</b></h3>
                <p>Geolocation, occasion recommendation and collaborative decision making are all included. Venn handles all the difficult parts including geofencing parameters, venue recommendation, and more. Venn is all about making meeting in person faster, safer and easier.</p>
            </div>
            <div class="feature second col-lg-4">
                <h3 class="feature-title customizable"><b>Customizable</b>, <br>yet easy integrate</h3>
                <p>Venn is an easily integratable API and SDK and can be simply customized to help connect people in marketplaces, online dating, social  and professionals networking. You can focus on creating the best user experience and connecting your users. Venn can be the bridge to make meeting in person easy.</p>
            </div>
            <div class="feature third col-lg-4">
                <h3 class="feature-title simple">Meeting made simple, <br><b>on any device</b></h3>
                <p>We want meeting to be faster, safer and easier for anyone needing to meet for the first or hundredth time. We build our tools to be used for any mobile or web product.</p>
            </div>
        </div>
    </div>
    <svg id="summary-bottom-slant" version="1.1" width="100%" height="140" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path id="trianglePath5" d="M0 0 L0 100 L100 0 Z" fill="white"></path>
        <path id="trianglePath6" d="M0 100 L100 0 L100 100 Z" fill="#339c3c"></path>


    </svg>




<!-- 
__ __   ___   __ __  ____       __ __  _____   ___  ____    _____                
|  |  | /   \ |  |  ||    \     |  |  |/ ___/  /  _]|    \  / ___/                
|  |  ||     ||  |  ||  D  )    |  |  (   \_  /  [_ |  D  )(   \_                 
|  ~  ||  O  ||  |  ||    /     |  |  |\__  ||    _]|    /  \__  |                
|___, ||     ||  :  ||    \     |  :  |/  \ ||   [_ |    \  /  \ |                
|     ||     ||     ||  .  \    |     |\    ||     ||  .  \ \    |                
|____/  \___/  \__,_||__|\_|     \__,_| \___||_____||__|\_|  \___|                
                                                                          
__    __  ____  _      _          ____     ___  ____   ____  _____  ____  ______ 
|  |__|  ||    || |    | |        |    \   /  _]|    \ |    ||     ||    ||      |
|  |  |  | |  | | |    | |        |  o  ) /  [_ |  _  | |  | |   __| |  | |      |
|  |  |  | |  | | |___ | |___     |     ||    _]|  |  | |  | |  |_   |  | |_|  |_|
|  `  '  | |  | |     ||     |    |  O  ||   [_ |  |  | |  | |   _]  |  |   |  |  
\      /  |  | |     ||     |    |     ||     ||  |  | |  | |  |    |  |   |  |  
\_/\_/  |____||_____||_____|    |_____||_____||__|__||____||__|   |____|  |__|  
-->
                                                                          


    <div class="user-benefit">
        <div class="container-circle">
            <!-- USER CIRCLE -->
        </div>
        <h6 class="section-sub-title text-center">User Benefits</h6>
        <h1 class="section-title text-center">Meeting has been made easier</h1>

        <div class="container container-box">

            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>User Features</h2>
                        <p>Adding Venn to your site or application gives your user the tools to make meeting easy. No longer do you cross your fingers and hope for a good experience. The quality meeting experience is now part of your service.</p>
                    </div>

                    <div class="feature-user-container col-lg-5">
                        <h4 class="feature-user max-results">Minimal Info, Maximum Results</h4>
                        <p>With just two points, Venn can identify the most convenient, safest and best places for for your users to meet.</p>
                    </div>

                    <div class="feature-user-container col-lg-5 col-lg-offset-1">
                        <h4 class="feature-user safety-first">Safety Always First</h4>
                        <p>We factor in and only recommend the safest locations for your user to meet. We also make sure that users' geolocations are never shared with other users.</p>
                    </div>


                </div>

                <div class="row">
                    <div class="feature-user-container col-lg-5">
                        <h4 class="feature-user coop-choice">Collaborative Decision Making</h4>
                        <p>No back & forth required. With a couple of quick decisions we can provide the best place for your users.</p>
                    </div>

                    <div class="feature-user-container col-lg-5 col-lg-offset-1">
                        <h4 class="feature-user simple-schedule">Simple Scheduling</h4>
                        <p>Finding times that work for meeting is a hassle. We offer tools to streamline that experience.</p>
                    </div>

                </div>
            </div>

            <div class="user-artwork text-center">
                <div class="col-md-3">
                    <img src="/img/user-benefits/iphone_mapping.png" />
                </div>
            </div>
        </div>
    <svg id="user-benefit-bottom-slant" version="1.1" width="100%" height="180" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path id="trianglePath1" d="M0 0 L50 50 L100 0 Z" fill="#339c3c"></path>
        <path id="trianglePath2" d="M0 0 L50 50 L0 100 Z" fill="#07502e"></path>
        <path id="trianglePath3" d="M50 50 L100 100 L100 0 Z" fill="white"></path>
        <path id="trianglePath1" d="M0 100 L50 50 L100 100 Z" fill="#2483c5"></path>
    </svg>
    </div>


<!-- 
___      ___ __ __    ___  _       ___   ____   ___  ____    _____ 
|   \    /  _]  |  |  /  _]| |     /   \ |    \ /  _]|    \  / ___/ 
|    \  /  [_|  |  | /  [_ | |    |     ||  o  )  [_ |  D  )(   \_  
|  D  ||    _]  |  ||    _]| |___ |  O  ||   _/    _]|    /  \__  | 
|     ||   [_|  :  ||   [_ |     ||     ||  | |   [_ |    \  /  \ | 
|     ||     |\   / |     ||     ||     ||  | |     ||  .  \ \    | 
|_____||_____| \_/  |_____||_____| \___/ |__| |_____||__|\_|  \___| 
                                                            
_       ___    ___   __  _      __ __    ___  ____     ___  __  __ 
| |     /   \  /   \ |  |/ ]    |  |  |  /  _]|    \   /  _]|  ||  |
| |    |     ||     ||  ' /     |  |  | /  [_ |  D  ) /  [_ |  ||  |
| |___ |  O  ||  O  ||    \     |  _  ||    _]|    / |    _]|__||__|
|     ||     ||     ||     \    |  |  ||   [_ |    \ |   [_  __  __ 
|     ||     ||     ||  .  |    |  |  ||     ||  .  \|     ||  ||  |
|_____| \___/  \___/ |__|\_|    |__|__||_____||__|\_||_____||__||__|
-->                                                            

    <div class="developer-benefit">
        <div class="container-circle">
            <!-- USER CIRCLE -->
        </div>
        <h6 class="section-sub-title text-center">Developer Benefits</h6>
        <h1 class="section-title text-center">Fast & Easy to Integrate</h1>

        <div class="container sdk-block">
            <div class="sdk-type col-xs-4 col-lg-2 col-lg-offset-3 text-center">
                <div class="sdk-image"><img src="/img/developer-benefits/sdk-apple.png" /></div>
                <h4 class="sdk-title">apple</h4>
            </div>
            <div class="sdk-type col-xs-4 col-lg-2 text-center">      
                <div class="sdk-image"><img src="/img/developer-benefits/sdk-android.png" /></div>
                <h4 class="sdk-title">android</h4>
            </div>
            <div class="sdk-type col-xs-4 col-lg-2 text-center">        
                <div class="sdk-image"><img src="/img/developer-benefits/sdk-web.png" /></div>
                <h4 class="sdk-title">web</h4>
            </div>
        </div>

        <div class="container container-box container-box">
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Technology Benifits</h2>
                        <p>Venn works on any type of website and is simple to embed through a snippet of code. We also offer the ability to use Venn’s API to integrate for maximum flexibility and configurability.</p>
                    </div>
                    <div class="row">
                        <div class="feature-developer-container col-lg-5">
                            <h4 class="feature-developer simple-sdk">SDK</h4>
                            <p>Deeply customize your user experience with our custom SDK functions</p>
                        </div>
                        <div class="feature-developer-container col-lg-5 col-lg-offset-1">
                            <h4 class="feature-developer fast-integration">Fast Integration</h4>
                            <p>Integrate a meet up experience in minutes</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="feature-developer-container col-lg-5">
                            <h4 class="feature-developer visual-customization">Visual Customization</h4>
                            <p>Use our default skin or implement your own</p>
                        </div>
                        <div class="feature-developer-container col-lg-5 col-lg-offset-1">
                            <h4 class="feature-developer push-notification">Push Notifications</h4>
                            <p>Allow your users to stay up to date and informed of any updates with what they care about.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="developer-artwork text-center">
                <div class="col-md-3">
                    <img src="/img/developer-benefits/code-to-live-site.png" />
                    <!-- <button class="btn btn-lg btn-gray">View Documentation</button> -->
                </div>
            </div>
        </div>

</div>



    
<!-- </div> -->
</div>


        <!-- modals -->
        <div class="modal fade" id="signup-modal">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title text-center">Additional Information</h4>
              </div>
              <div class="modal-body clearfix">
                <div class="">
                    <div class="form-group">
                        <label class="sr-only" for="name">Name</label>
                        <input type="text" class="form-control input-lg" id="name" placeholder="Name" autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="title">Title</label>
                        <input type="text" class="form-control input-lg" id="title" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="size">Company Size</label>
                        <input type="text" class="form-control input-lg" id="size" placeholder="Company Size">
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg btn-block text-center additional-submit">Submit</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

                <!-- alerts -->
<!-- <div class="alert alert-warning alert-dismissible hide" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</div> -->

    

</template>