// .footer {
//     background-color: #333333;
//     font-size: 16px;
//     .recent-blog-post{
//         .blog-image {
//             height: 150px;
//             width: 150px;
//             margin: 0px auto;
//             -webkit-border-radius: 150px;
//             -moz-border-radius: 150px;
//             border-radius: 150px;
//             background-color: #666;
//         }
//         .blog-title {
//             font-size: 34px;
//         }
//     }
//     .footerElement {
//         .title {
//             font-weight: bold;
//         }
//     }
//     ul {
//         list-style-type: none;
//         margin-left: 0px;
//         li  {
//             line-height: 2;
//         }
//     }
//     .legal {
//         color: white;
//     }
    


// }

.site-footer {
    position: relative;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 18px;
    line-height: 1.5;
    color: #777;
    border-top: 1px solid #eee;
    .site-footer-links {
        margin: 0;
        list-style: none;
    }
    .right {
        float: right;
    }
    ul {
        li {
            display: inline;
            margin-right: 20px;
        }
    }
    a {
        color: #4183c4;
        text-decoration: none;
    }
}
