@import 'variables';
@import 'mixins';

/* ===============================
    GLOBAL STYLES
   =============================== */
body,
html {
  height: 100%;
}

/* hack to eliminate horizontal scrollbar */
footer {
  width: 99%;
}

body {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;

}
img {
  max-width: 100%;
}


// MISCELLANEOUS

.browser-warning {
  background: #BD3535;
  color: #fff;
  padding: 0.5em 0;
  text-align: center;

   a {
    color: #fff;
    text-decoration: underline;
  }
}

.p0 {
  padding: 0;
}

a {
  text-decoration: none!important;
}

/*------------------------------------*\
    #SITE-WIDE-BACKGROUND-GRAPHICS
\*------------------------------------*/

.page-top-spacing {
    margin: 80px;
}

.navbar {
  background-color: white;
  min-height: 80px;
  .navbar-nav {
    margin-top: 15px;
  }
}

.header-logo {
  padding: 7px 20px;
}
.navbar.nav-large {
}
.navbar.nav-small {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
     -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
          box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
          transition: all .50s;
     -moz-transition: all .50s; /* Firefox 4 */
  -webkit-transition: all .50s; /* Safari and Chrome */
       -o-transition: all .50s; /* Opera */          
}






.body {
  position: relative;
}
.affix {
  // width: inherit; //helped keep the content the same size on fluid layouts
  position: fixed;
  top: 25px;  //height of the nav
}
.affix-bottom {
  width: inherit;
  position: absolute;
  top: auto;
  bottom: 50px;  //height of the footer
}
.affix-top {
  //i didn't need this style but you might
}

/*------------------------------------*\
    #SITE-WIDE-BACKGROUND-GRAPHICS
\*------------------------------------*/

/*
 * This section is for the different 
 * global background images used across 
 * the site.
 */

.venn-background {
  background-size: 100%;
  &.container {
    padding-left: 0px;
    padding-right: 0px;
  }
  &.container-fluid {  
    padding-left: 0px;
    padding-right: 0px;
  }
  &.blue-graphic {
    background-image: url("../img/venn-background-image.png");
    background-repeat: no-repeat;
    background-position: center top;
  }
  &.white-plane {
    background-color: white;
  }
}



/*------------------------------------*\
    #CONTAINER-STYLING
\*------------------------------------*/

/*
 * This section is for the different 
 * global containers used across the 
 * site.
 */

.container-box { 
  border: 1px solid #cecece;
  padding: 60px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

// #faq-content {
//   position: relative!important;
// }


/*------------------------------------*\
    #SIDE-NAV #FAQ #DOCUMENTATION
\*------------------------------------*/

/*
 * This section is for the .affix 
 * that is on the FAQ & Documentation 
 * page of the site.
 */

.affix {
  position: fixed;
  top: 115px;
}




/*------------------------------------*\
    #STICKY-FOOTER
\*------------------------------------*/

/*
 * This section is for the different 
 * global containers used across the 
 * site.
 */
@footer-height: 50px;
html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -@footer-height;
  // &.container {
  //   height: 100%;
  // }
  // &.container-fluid {
  //   height: 100%;
  // }
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: @footer-height; 
  margin-top: 50px;
}
