<template name="alerts">

       <div class="alert alert-success text-center hide thanks signup fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Thanks for signing up!</strong><br> We'll get back to you shortly.
        </div>

       <div class="alert alert-success text-center hide thanks contact fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Thanks for contacting us!</strong><br> We'll get back to you shortly.
        </div>

        <div class="alert alert-danger text-center hide error fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Oh snap!</strong><br> Please fill out all the fields!
        </div>


</template>