<template name="footer">

<footer class="footer">
    <div class="">
        <div class="container site-footer">
            <ul class="site-footer-links text-center">
                <li><a href="{{pathFor 'documentation'}}">Documentation</a></li>
                <li><a href="#" data-toggle="modal" data-target="#contact-modal">Contact</a></li>
                <li><a href="http://demo.getvenn.io">See a Demo</a></li>
                <li><a href="{{pathFor 'terms'}}">Terms</a></li>
                <li><a href="{{pathFor 'private-policy'}}">Privacy</a></li>
            </ul>

        </div>
</div>
</footer>
</template>