<template name="header">
  <nav class="navbar navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand p0" href="/">
          	<img src="img/hero-venn-logo.sm.png" class="header-logo">
          </a>
        </div>
        <ul class="collapse navbar-collapse nav navbar-nav navbar-right">
          <li><a href="{{pathFor 'faq'}}">FAQ</a></li>
          <li><a href="{{pathFor 'documentation'}}">Documentation</a></li>
          <li>
            {{#if currentUser}}
              <a href="{{pathFor 'me'}}" class="navbar-link">Signed in as {{generalName}}</a>
            {{else}}
              <a href="/sign-in">Log in</a>
            {{/if}}
            <!-- <a href="{{pathFor 'documenation'}}">Documentation</a> -->
          </li>
        </ul>
      </div>
    </nav>
</template>