<template name="me">
	<h3>My Profile</h3>
	<form>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="email" placeholder="{{currentUser.profile.email}}" disabled> 
        </div>
        <div class="form-group">
            <label for="inputEmail">Company</label>
            <input type="text" class="form-control" id="company" value="{{currentUser.profile.company}}">
        </div>
        <div class="form-group">
            <label for="inputEmail">API Key</label>
            <input type="text" class="form-control" id="apikey" placeholder="{{apiKey}}" readonly="readonly">
        </div>
        <div class="form-group">
            <label for="inputEmail">Alert Endpoint</label>
            <input type="text" class="form-control" id="alert-endpoint" value="{{alertEndpoint}}">
        </div>
        <button id="save" class="btn btn-primary btn-block" data-loading-text="Saving..." data-finished-text="Saved">Save</button>
        <button id="logout" class="btn btn-danger btn-block">Log Out</button>
    </form>
</template>